.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: auto;
  font-family: "Inter";
  text-align: center;
}

.wrapper{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #19746b;
  border-color: #19746b transparent #19746b transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(700deg);
  }
}
